.FooterCart {
  display: flex;
  justify-content: flex-end;
  padding: 20px;

  font-size: 1.125em;
  font-weight: bold;
}

.FooterCart-total {
  min-width: 80px;
  padding-right: 100px;
  padding-left: 20px;
  text-align: right;
}