.ItemCart {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px dashed #ccc;
  box-sizing: border-box;
  height: 63px;
}

.ItemCart-code {
  padding: 20px 10px 20px 20px;
}

.ItemCart-title {
  flex-grow: 1;
  padding: 20px 10px;
}

.ItemCart-price {
  padding: 20px 10px;
  font-size: 1.125em;
  color: #404040;
}

.ItemCart-count {
  width: 80px;
  padding: 20px 10px;
  font-size: 1.125em;
  color: #404040;
  text-align: right;
}

.ItemCart-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
  min-width: 110px;
  box-sizing: border-box;
}
