.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  height: 63px;
  box-sizing: border-box;

  font-size: 1.125em;
}

.Controls-total {
  padding: 0 20px 0 15px;
  font-weight: bold;
}

.Controls-btn {
  min-width: 80px;
}
